* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.background {
  background-color: #cad9f0;
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100%;
  width: 80%;

  padding: 52px;
  gap: 10px;
}
.modal-content {
  z-index: 10;
}
.container-icon {
  display: none;
  position: absolute;
  z-index: 1;
  color: black;
}

/* Sidebar */
.sidebar {
  width: 25%;
  background-color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chat-user-bottom {
  margin-top: auto;
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.menu {
  list-style: none; /* Remove bullet points from the list */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.menu li {
  display: flex; /* Use flexbox to align items */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between text and badge */
  padding: 10px 0; /* Maintain vertical padding */
  font-size: 16px; /* Font size for list items */
}

.menu .badge {
  font-size: 12px;
  background-color: #d0c4ff;
  color: #6a44ff;
  padding: 2px 8px;
  border-radius: 8px;
  margin-left: 8px;
  font-size: 12px; /* Font size for badges */
  background-color: #d0c4ff; /* Badge background color */
  color: #6a44ff; /* Badge text color */
  padding: 2px 8px; /* Padding for badges */
  border-radius: 8px; /* Rounded corners for badges */
  margin-left: 8px; /* Space between text and badge */
}

.pro-section {
  text-align: center; /* Center text in the section */
  background-color: #e1e4f3; /* Background color for the section */
  padding: 15px; /* Padding for the section */
  border-radius: 8px; /* Rounded corners for the section */
}

.pro-section p {
  margin-bottom: 10px; /* Margin below paragraph */
  font-size: 14px; /* Font size for paragraph */
}

.pro-btn {
  background-color: #6a44ff; /* Button background color */
  color: #fff; /* Button text color */
  padding: 10px 20px; /* Padding for buttons */
  border: none; /* Remove border */
  border-radius: 8px; /* Rounded corners for buttons */
  cursor: pointer; /* Change cursor to pointer */
}

.main-content {
  flex: 1;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

header h1 {
  font-size: 24px;
}

header nav {
  display: flex;
  align-items: center;
}

.main-content .user-settings {
  margin-left: auto;
}

.user-settings {
  justify-content: end;
  align-items: end;
  display: flex;
  gap: 10px;
  position: relative;
}

.user-settings .dropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #fff;
  border: #333;
  border-radius: 20px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 10;
}

.dropdown .dropdown-title {
  width: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid #333;
}

.dropdown .dropdown-selected {
  display: flex;
  padding: 10px 15px;
  width: max-content;
}

.dropdown-logout {
  padding: 10px 15px;
  color: red;
  font-weight: 600;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.model-selector button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f0f1f6;
  color: #333;
}

.chat-section {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-container {
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chat-box {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  position: relative;
}

.chat-bot {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  overflow: hidden;
  overflow-y: auto;
  padding: 20px 10px;
  gap: 10px;
  /* background-color: red; */
}

.bot {
  display: flex;
  flex-direction: row;
  gap: 10px;
  max-width: fit-content;
  width: 70%;
}

.user {
  /* width: 100%; */
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  margin-left: auto;
  gap: 10px;
  max-width: fit-content;
  width: 70%;
}

.user p {
  display: flex;
  width: max-content;
}

.chat-bot p {
  padding: 10px;
  display: flex;
  width: 100%;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 10px;
  background-color: #d3d3d3;
}
.chat-input {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.chat-input input {
  display: flex;
  width: 90%;
  border-radius: 8px;
  height: 35px;
  padding: 5px;
}

.chat-input button {
  background-color: #6a44ff;
  width: 90%;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 8px;
  width: max-content;
}

.main-content-top {
  display: flex;
  padding: 0 52px;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  background-color: #cad9f0;
}

.footer-sidebar {
  display: flex;
  flex-direction: row;
  gap: 4px;
  padding: 4px 8px;
  width: 100%;
  justify-content: space-between;
}

.footer-sidebar-right {
  display: flex;
  gap: 6px;
  align-items: center;
}

.footer-sidebar-right .icon-box {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.footer-sidebar-avatar {
  gap: 6px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-sidebar-avatar p {
  width: max-content;
  font-size: 14px;
  font-weight: 400;
}

.lang-menu {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease; 
}

.selected-lang {
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
  background-color: white;
  transition: background-color 0.3s;
}

.selected-lang:hover {
  background-color: #f0f0f0;
}

.selected-lang img {
  width: 25px;
  margin-right: 10px;
}

#lang-options {
  display: none;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 150px; 
  z-index: 1;
  margin-top: 5px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

/* Additional styling for the text list */
#text-list {
  margin-top: 20px; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

/* Modal styles */
.modal-content {
  display: none; 
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.profile-header,
.profile-body,
.profile-footer {
  text-align: center;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

#chatbotProfile,
#userProfile {
  display: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end; 
  padding: 10px;
}

#userSettings {
  margin-right: 10px;
}

.language-switcher {
  position: relative;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
}

/* CSS for styling the select dropdown with flag background */

.language-switcher {
  position: relative;
  display: inline-block;
}

#languageSelect {
  appearance: none; 
  border: 1px solid #ccc;
  border-radius: 25px;
  padding: 5px 10px 5px 30px; 
  background-color: white;
  cursor: pointer;
  background-size: 20px; 
  background-repeat: no-repeat;
  background-position: 10px center; 
}

#languageSelect option {
  padding: 10px; 
}



  







.footer-user-setting {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}
.close-sidebar {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.close-sidebar svg {
  width: 24px;
  height: 24px;
  fill: #e8eaed;
  transition: transform 0.3s ease;
}

.close-sidebar:hover svg {
  transform: scale(1.1); 
}

.chat_ui{
  flex-grow: 1;
  text-align: center;
  font-size: 42px;
  line-height: 58px;
  font-weight: 600;

}
.vipper-text{
  width: 100%;
  text-align: center;
}
.button-submit {
  position: relative;
  padding: 10px 20px;
  background-color: #4CAF50;
  /* Green */
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

/* Loading animation */
.button-submit.loading {
  color: transparent;
  /* Hide the button text while loading */
  pointer-events: none;
  /* Prevent clicks during loading */
}

.button-submit.loading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border: 2px solid #fff;
  border-top: 2px solid #4CAF50;
  /* Green */
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}


/* Spinner animation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
.chat_ui{
    font-size: 20px;
}

  .close-sidebar {
    display: flex;
  }
  .close-sidebar svg {
    color: #121212;
    clip-path: #121212;
  }
  .background {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    /* width: calc(100vw - 16px); */
    /* padding: 0px 32px; */
  }
  .container {
    flex-direction: row;
    /* height: 100%; */
    height: calc(100vh);
  }
    .sidebar {
      display: none;
      /* Mặc định ẩn sidebar */
    }

  .sidebar.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    margin-bottom: 20px;
    z-index: 2;
    background-color: white;
  }
  .container {
    padding: 0;
    margin-top: 30px;
    width: 100%;
    height: 100%;
  }

  .chat-section {
    position: relative;
    /* height: 90%; */
    height: calc(100vh - 86px);
    width: calc(100vw - 32px);
    margin: 0 auto;
  }
  .container-icon {
    left: -10px;
  }
  .pro-section {
    margin-top: auto;
  }

  .main-content {
    padding: 10px;
  }

  .user-settings {
    justify-content: center;
  }

  .container-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    /* top: 50%; */
    /* left: -4%; */
    top: 2px;
    left: 2px;
  }

  .close-sidebar {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }

  .avatar {
    width: 40px;
    height: 40px;
  }

  .chat-input {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .chat-input input {
    width: 65%;
    height: 35px;
  }
  .chat-input button {
    width: 25%;
    height: 35px;
  }
}

/* -----------------DARKMODE-------------------- */
.dark-mode-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6a44ff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1000;
  }
  
  .dark-mode-btn:hover {
    background-color: #5b39d8;
  }
  
  .dark-mode-btn svg {
    fill: white;
    width: 20px;
    height: 20px;
  }

/* Dark Mode Styles */
body.dark-mode .main-content-top {
    background-color: #2e2e2e;
    color: #e8eaed;
  }

  .dark-mode .background {
    background-color: #2e2e2e;
  }

  .dark-mode .sidebar {
    background-color: #575555;
    color: white;
  }

  .dark-mode  .chat-container {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #575555;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .dark-mode  .chat-box {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: relative;
  }

  .dark-mode .chat-box p {
    background-color: #313030;
    color: white;
  }
 
  
  .dark-mode .menu li {
    color: #e8eaed;
  }
  
  
  .dark-mode .pro-btn {
    background-color: #6a44ff;
  }
  
 


  

  .dark-mode .chat-input input {
    background-color: #444;
    color: #e8eaed;
    border: 2px solid #e0d6d6;
  }

  
  .dark-mode .chat-input button {
    background-color: #6a44ff;
  }
  
  .dark-mode .dropdown {
    background-color: #444;
    color: #e8eaed;
  }
  
  .dark-mode .modal-content {
    background-color: #333;
    color: #e8eaed;
  }
  
  .dark-mode .footer-sidebar {
    background-color: #444;
  }
  
  .dark-mode .lang-menu {
    background-color: #444;
  }
  
  .dark-mode .button-submit {
    background-color: #6a44ff;
  }

  .dark-mode #languageSelect {
    background-color: #444;
    color: wheat;
  }
  
  /* Dark Mode Toggle Button */
  .dark-mode-btn {
    background-color: #444;
  }




@media (min-width: 768px) and (max-width: 1024px) {
 

  .sidebar {
    display: flex;
    width: 35%;
  }

  .chat-bot {
    height: 100%;
    position: relative;
  }
  .close-sidebar {
    display: none;
  }

  .dark-mode-btn:hover {
    background-color: #5b39d8;
    transform: scale(1.05);
  }


  .dark-mode-btn svg {
    fill: white;
    width: 20px;
    height: 20px;
  }

  .chat-container {
    height: 100%;
  }

  .chat-input {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chat-input input {
    width: 65%;
    height: 35px;
  }

  .chat-input button {
    width: 25%;
    height: 35px;
  }
}


.modal-content {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 500px;
  width: 90%;
}

.close-button {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 24px;
}

/*--thanglam*/

.profile-header {
  text-align: center;
  margin-bottom: 20px;
}

.profile-body {
  margin-bottom: 20px;
}

.profile-body p {
  margin: 10px 0;
}

.profile-footer {
  text-align: center;
}
