<div class="shortcut-container">

  <div class="shortcut-card">
    <div class="shortcut-content">
      <div class="shortcut-title">"Explain"</div>
      <div class="shortcut-description">Quantum computing in simple terms</div>
    </div>
  </div>

  <div class="shortcut-card">
    <div class="shortcut-content">
      <div class="shortcut-title">"How to"</div>
      <div class="shortcut-description">Make a search engine platform like Google</div>
    </div>
  </div>

  <div class="shortcut-card">
    <div class="shortcut-content">
      <div class="shortcut-title">"Remember"</div>
      <div class="shortcut-description">Quantum computing in simple terms</div>
    </div>
  </div>

  <div class="shortcut-card">
    <div class="shortcut-content">
      <div class="shortcut-title">"Allows"</div>
      <div class="shortcut-description">User to provide follow-up corrections</div>
    </div>
  </div>


<script src="UIcard.js"></script>